<app-flight></app-flight>  

<!-- string interpolation -->
<div>{{title}}</div>

<div>{{4+5}}</div>

<!-- Property Binding -->
<input type="text" [value]="cityName">
<img [src]="imgUrl" alt="Icon">

<!-- event binding -->

<button (click)="computeData($event)">Click Me!</button>

<input type="text" (blur)="handleBlur()">
<br>

<!-- template reference variable -->

<label for="name">Employee Name</label>
<input type="text" #employee> 
<button (click)="getEmployee(employee.value)">Get Employee Name</button>
<br>
<!-- Structural directive -->
<!-- ngIF -->

<button (click)="toggleTitle()">Toggle</button>
<p *ngIf="showTitle">John is Team Lead</p>


<!-- ngFor -->
<ul *ngFor="let item of employeeData;let i=index">
    <div>{{i}}</div>
    <li>{{item.firstName}} {{item.lastName}}</li>
</ul>


<!-- Attribute directives -->
<!-- 
ngStyle -->


<div [ngStyle]="{color: (showTitle?'#00FF00':'#FF0000')}">John is a team lead</div>